.header-toolbar {
  padding: 0 !important;
  min-height: 70px;
}

.header-left img {
  height: 40px;
  width: auto;
}

.header-middle h6 {
  font-weight: 500;
  transition: color 0.2s ease;
}

.header-middle h6:hover {
  color: var(--highlight-color);
  cursor: pointer;
}
